.about-us-block {
    background-color: #ffffff;
}

.about-us-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-us-block__title {
    margin-top: 162px;
}

.about-us-block__content {
    margin-top: 89px;
    display: flex;
}

.about-us-block__aside-title {
    position: absolute;
    align-self: stretch;
    top: -53px;
    left: -223px;
}

.about-us-block__information {
    color: #037693;
    margin-left: 125px;
    max-width: 50%;
    margin-right: 20px;
}

.about-us-block__information .description__subtitle::after {
    border-color: #037693;
}

.about-us-block__statistics {
    flex-grow: 1;
}

@media (max-width: 1536px) {
    .about-us-block__content {
        flex-direction: column;
        margin-top: 180px;
    }

    .about-us-block__information {
        order: 2;
        max-width: 100%;
    }

    .about-us-block__statistics {
        order: 1;
    }

    .about-us-block__title {
        font-size: 3rem;
        margin-top: 129px;
    }

    .about-us-block__information {
        margin: 0;
    }

}

@media (max-width: 750px) {
    .about-us-block__title {
        margin-top: 72px;
    }

    .about-us-block__content {
        margin-top: 50px;
    }
}