.features-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-block__title {
    margin-top: 127px;
}

.features-block__content {
    margin: 91px 0 126px;
}

@media (max-width: 1536px) {
    .features-block__title {
        margin-top: 149px;
    }

    .features-block__content {
        margin: 77px 0 157px;
    }
}

@media (max-width: 751px) {
    .features-block__title {
        margin-top: 43px;
    }

    .features-block__content {
        margin: 49px 0 91px;
    }
}