@font-face {
    font-family: Lato-Black;
    font-style: normal;
    font-weight: 900;
    src: local(Lato-Black), url("./fonts/Lato-Black.ttf");
}

@font-face {
    font-family: Lato-Bold;
    font-style: normal;
    font-weight: 700;
    src: local(Lato-Bold), url("./fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: Lato-Light;
    font-style: normal;
    font-weight: 300;
    src: local(Lato-Light), url("./fonts/Lato-Light.ttf");
}

@font-face {
    font-family: Lato-Medium;
    font-style: normal;
    font-weight: 500;
    src: local(Lato-Medium), url("./fonts/Lato-Medium.ttf");
}

@font-face {
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: 400;
    src: local(Lato-Regular), url("./fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Semibold;
    font-style: normal;
    font-weight: 600;
    src: local(Lato-Semibold), url("./fonts/Lato-Semibold.ttf");
}