.header {
    background-color: #121111;
    height: 207px;
}

.header__logo {
    margin: 17px auto 22px 121px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {

}

.header__auth-buttons {

}