.horizontal-line {
    margin-top: 3px;
    width: 100%;
    border-bottom: 4px solid black;
}

.horizontal-line_red {
    border-color: #f47a6b;
}

.horizontal-line_green {
    border-color: #68b2a9;
}

.horizontal-line_orange {
    border-color: #f2b47c;
}

.horizontal-line_moved-to-end-of-box {
    position: absolute;
    top: 100%;
}

@media (max-width: 751px) {
    .horizontal-line {
        display: none;
    }

    .horizontal-line_no-disappear {
        display: block;
    }
}