.interaction-block {
    background-color: #037693;
}

.interaction-block-wrapper {
    display: flex;
}

.interaction-block__content {
    color: #ffffff;
    position: relative;
    padding-top: 78px;
    padding-right: 20px;
    max-width: 60%;
}

.interaction-block__aside-title {
    top: -53px;
    left: -208px;
    position: absolute;
}

.interaction-block__information {
    margin-left: 125px;
}

.interaction-block__title {
    font-size: 4rem;
    font-family: Lato-Bold;
    width: 400px;
}

.interaction-block__subtitle {
    font-size: 2rem;
    font-family: Lato-Medium;
    margin-top: 54px;
}

.interaction-block__subtitle::after {
    content: '';
    display: inline-block;
    width: 12%;
    border-bottom: 2px solid #ffffff;
}

.interaction-block__text {
    margin: 86px 0 64px;
    font-size: 1.5rem;
    font-family: Lato-Light;
    line-height: 1.7rem;
}

.interaction-block__text-paragraph {
    padding-bottom: 39px;
}

.interaction-block__text-paragraph:last-child {
    padding-bottom: 0;
}

.interaction-block__cards {
}

@media (max-width: 1536px) {
    .interaction-block__content {
        padding-top: 171px;
        text-align: center;
    }

    .interaction-block__title {
        width: auto;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .interaction-block__subtitle {
        margin-top: 43px;
        font-size: 3rem;
    }

    .interaction-block__subtitle::after {
        display: block;
        width: 50%;
        margin: 20px auto 0;
    }

    .interaction-block__text-paragraph {
        display: inline;
    }

    .interaction-block__text {
        margin: 105px 0 131px;
    }

    .interaction-block__information {
        margin-left: 87px;
    }
}

@media (max-width: 751px) {

}
